:root {
  --color-white: #fff;
  --color-black: #000;
  --color-green-50: #9eff00;
  --color-green-60: #b1ff33;
  --color-green-70: #c5ff66;
  --color-green-80: #d8ff99;
  --color-green-90: #ecffcc;
  --color-green-95: #f5ffe5;
  --color-green-97: #f9fff0;
  --color-green-99: #fdfffa;
  --color-grey-10: #191919;
  --color-grey-15: #262626;
  --color-grey-20: #333333;
  --color-grey-30: #4c4c4d;
  --color-grey-35: #59595a;
  --color-grey-40: #656567;
  --color-grey-60: #98989a;
  --color-grey-90: #e6e6e6;
}

@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  background-color: var(--color-grey-10);
  color: var(--color-grey-90);
}

.container {
  max-width: 1626px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  padding: 20px 0;
  border-bottom: 1px solid var(--color-grey-15);
}

.header__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 20px;
}

.menu {
  justify-self: center;
}

.menu__list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.menu__link {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
}

.menu__link--active {
  padding: 12px 22px;
  background-color: var(--color-grey-15);
  border-radius: 6px;
  font-weight: 600;
  color: var(--color-white);
}

.menu__button {
  justify-self: end;
  padding: 12px 18px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--color-grey-15);
  background-color: var(--color-green-50);
  border-radius: 6px;
}

.hero {
  position: relative;
  padding: 112px 0 240px;
  background-image: url("../images/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-left: 1px solid var(--color-grey-15);
  border-right: 1px solid var(--color-grey-15);
  border-bottom: 1px solid var(--color-grey-15);
}

.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  aspect-ratio: 1596/448; /* можно подогнать под высоту SVG */
  background-image: url("../images/hero-bg-design.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  pointer-events: none;
  overflow: hidden;
  z-index: -10;
}

.hero__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__title {
  text-align: center;
  margin-bottom: 40px;
  max-width: 720px;
  font-size: 68px;
  font-weight: 600;
  color: var(--color-white);
}

.hero__tags-text {
  color: var(--color-grey-60);
  padding: 24px 40px;
  font-size: 22px;
  background-color: rgba(36, 36, 36, 0.2);
  border: 1px solid var(--color-grey-15);
  border-radius: 12px;
  margin-bottom: 50px;
  backdrop-filter: blur(3px); /* вот эффект размытия */
  -webkit-backdrop-filter: blur(3px); /* для Safari */
  z-index: 5;
}

.hero__tags-text span {
  color: var(--color-white);
  padding: 12px 14px;
  background-color: var(--color-grey-15);
  border-radius: 8px;
}

.hero__buttons {
  display: flex;
  align-items: center;
  gap: 13px;
}

.hero__button {
  padding: 18px 28px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
}

.hero__button--stroke {
  background-color: rgba(36, 36, 36, 0.2);
  backdrop-filter: blur(3px); /* вот эффект размытия */
  -webkit-backdrop-filter: blur(3px); /* для Safari */
  border: 1px solid var(--color-grey-20);
}

.hero__button--fill {
  background-color: var(--color-green-50);
  color: var(--color-grey-15);
  border: 1px solid var(--color-green-50);
}

.partners {
  position: relative;
  border-left: 1px solid var(--color-grey-15);
  border-right: 1px solid var(--color-grey-15);
  border-bottom: 1px solid var(--color-grey-15);
  padding: 60px 75px;
}

.partners::before {
  content: "Trusted By 250+ Companies";
  position: absolute;
  top: -31px; /* выносим над секцией (регулируй по макету) */
  left: 50%;
  transform: translateX(-50%);
  padding: 20px 34px;
  font-weight: 500;
  color: var(--color-green-99);
  background-color: var(--color-grey-10);
  border-radius: 100px;
  border: 1px solid var(--color-grey-15);
  white-space: nowrap; /* чтобы не переносился текст */
}

.partners__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.services {
  border-left: 1px solid var(--color-grey-15);
  border-right: 1px solid var(--color-grey-15);
  border-bottom: 1px solid var(--color-grey-15);
}

.services__head {
  padding: 120px 0;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    /* затемнение */ url("../images/services-head-bg.png"); /* фон */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: 1px solid var(--color-grey-15);
}

.services__title {
  font-size: 48px;
  font-weight: 600;
  color: var(--color-white);
  margin-bottom: 14px;
}

.services__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.services__item {
  display: flex;
  flex-direction: column;
  padding: 50px;
  border-right: 1px solid var(--color-grey-15);
}

.services__item:last-child {
  border-right: none;
}

.services__icon {
  position: relative;
  align-self: flex-start;
  padding: 24px;
  border-radius: 10px;
  margin-bottom: 40px;
  background: linear-gradient(
      to bottom left,
      rgba(158, 255, 0, 0.08) 22%,
      rgba(158, 255, 0, 0) 69%
    ),
    linear-gradient(to bottom, rgba(46, 46, 46, 1) 0%, rgba(46, 46, 46, 0) 100%);
  z-index: 0;
}

.services__icon::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px;
  padding: 1px; /* толщина границы */
  background: linear-gradient(
    to bottom,
    rgba(46, 46, 46, 1) 0%,
    rgba(46, 46, 46, 0) 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}

.services__name {
  font-size: 30px;
  font-weight: 600;
  color: var(--color-white);
  margin-bottom: 20px;
}

.services__text {
  margin-bottom: 80px;
}

.services__button {
  margin-top: auto;
  display: block;
  text-align: center;
  background-color: var(--color-grey-15);
  padding: 18px 0;
  border-radius: 8px;
  font-weight: 500;
  color: var(--color-white);
}

.advantages {
  border-left: 1px solid var(--color-grey-15);
  border-right: 1px solid var(--color-grey-15);
  border-bottom: 1px solid var(--color-grey-15);
}

.advantages__head {
  padding: 120px 0;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    /* затемнение */ url("../images/advantages-head-bg.png"); /* фон */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: 1px solid var(--color-grey-15);
}

.advantages__title {
  font-size: 48px;
  font-weight: 600;
  color: var(--color-white);
  margin-bottom: 14px;
}

.advantages__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.advantages__item {
  padding: 80px;
  border-right: 1px solid var(--color-grey-15);
  border-bottom: 1px solid var(--color-grey-15);
}

.advantages__item:nth-child(2) {
  border-right: none;
}

.advantages__item:nth-child(3) {
  border-bottom: none;
}

.advantages__item:nth-child(4) {
  border-right: none;
  border-bottom: none;
}

.advantages__list-title {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
}

.advantages__icon {
  position: relative;
  padding: 24px;
  border-radius: 10px;
  background: linear-gradient(
      to bottom left,
      rgba(158, 255, 0, 0.08) 22%,
      rgba(158, 255, 0, 0) 69%
    ),
    linear-gradient(to bottom, rgba(46, 46, 46, 1) 0%, rgba(46, 46, 46, 0) 100%);
  z-index: 0;
}

.advantages__icon::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px;
  padding: 1px; /* толщина границы */
  background: linear-gradient(
    to bottom,
    rgba(46, 46, 46, 1) 0%,
    rgba(46, 46, 46, 0) 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}

.advantages__name {
  font-size: 26px;
  font-weight: 500;
  color: var(--color-white);
}

.advantages__text {
  font-size: 20px;
}

.reviews {
  border-left: 1px solid var(--color-grey-15);
  border-right: 1px solid var(--color-grey-15);
  border-bottom: 1px solid var(--color-grey-15);
}

.reviews__head {
  padding: 120px 0;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    /* затемнение */ url("../images/reviews-head-bg.png"); /* фон */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: 1px solid var(--color-grey-15);
}

.reviews__title {
  font-size: 48px;
  font-weight: 600;
  color: var(--color-white);
  margin-bottom: 14px;
}

.reviews__subtitle {
  max-width: 996px;
  margin: 0 auto;
}

.reviews__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.reviews__item {
  display: flex;
  flex-direction: column;
  padding: 100px 80px;
  border-right: 1px solid var(--color-grey-15);
  border-bottom: 1px solid var(--color-grey-15);
}

.reviews__item:nth-child(2) {
  border-right: none;
}

.reviews__item:nth-child(4) {
  border-right: none;
}

.reviews__item:nth-child(5) {
  border-bottom: none;
}

.reviews__item:nth-child(6) {
  border-bottom: none;
  border-right: none;
}

.reviews__name {
  font-size: 28px;
  font-weight: 500;
  color: var(--color-green-80);
  margin-bottom: 24px;
}

.reviews__text {
  margin-bottom: 40px;
}

.reviews__client {
  display: flex;
  align-items: center;
  margin-top: auto;
  background: rgba(36, 36, 36, 0.2);
  border-radius: 8px;
  border: 1px solid var(--color-grey-15);
  padding: 20px;
}

.reviews__img-wrapper {
  position: relative;
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 8px;
  margin-right: 18px;
}

.reviews__img-wrapper::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(172, 255, 36, 0.3);
  top: 0;
  left: 0;
  z-index: 1;
}

.reviews__client-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviews__client-info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.reviews__client-name {
  font-size: 20px;
  font-weight: 500;
  color: var(--color-white);
}

.reviews__button {
  margin-left: auto;
  padding: 18px 20px;
  background-color: var(--color-grey-15);
  border-radius: 8px;
  font-weight: 500;
  color: var(--color-white);
}


